/* Sidebar.css */
.open {
    height: 100%;
    width: 10px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #db6464;
    padding-top: 10%;
    margin-top: 4%;
    font-size: 0px;
    color: transparent;
    z-index: 0;
  }
 .open:hover{
    height: 100%;
    width: 250px;
    color: aliceblue;
    z-index: 2;
  }
/* Your existing styles */
/* .designs {
   
    color: transparent; /* Make the font transparent by default */
    /* text-decoration: none;
    font-size: 0px;
    padding: 10px; */
   
    /* Add a transition effect for a smooth change in color */
  
  #category,
  #id,
  #title,
  #author {
    margin-bottom: 10px;
  }
  